#uno{
	margin: 15px 10px 0 10px;
}
#part-two{
	padding: 100px 50px;
	background-color: #ffe1bd;
}
#boton{
	margin: 0 auto;
	display: block;
}
#r1{
	margin: 50px 0px;
}
#square1{
	width: 560px;
	height: 560px;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}
#col2{
	padding-left: 50px;
}
p{
	color: gray;
	font-size: 20px;
}
.row{
	margin-top: 50px;
}
#square2{
	width: 364px;
	height: 364px;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}
#square3{
	width: 364px;
	height: 590px;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}
.square4{
	width: 168px;
	height: 168px;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	margin: auto;
}
#sec1{
	padding: 0 100px;
}
.square5{
	width: 266px;
	height: 140px;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}